<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookCafe Book Recommender System</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <div class="warpper">
      <div class="from-warpper sign up">
          <form action="/register" method="post">
              <h2>Sign Up</h2>
              <div class="input-group">
                  <input type="text" id="username"  placeholder="" name="username" required>
                  <label for="">Username</label>
              </div>
              <div class="input-group">
                <input type="email" id="email"  placeholder="" name="email" required>
                <label for="">Email</label>
            </div>
              <div class="input-group">
                  <input type="password" class="form-control"  id="password" name="password" required>
                  <label for="">Password</label>
              </div>
              <div class="remember">
                  <label for="">
                      <input type="checkbox"> I agree with terms & conditions
                  </label>
              </div>
              <button type="submit" id="Submit">Sign Up</button>
              <div class="signin-link">
                  <p>Already have an Account? <a href="{{url_for('login')}}" class="signInBtn-link">Sign In</a></p>
              </div>
          </form>
      </div>
    </div>  
  </body>
</html>