{% extends 'base.html' %}
{% block content%}

<div class="container">
    <table id="allbooks" class="table table-dark table-striped" style="width: 100%">
        <thead>
            <tr>
                {% for header in data[0].keys() %}
                
                    <th scope="col">
                        <strong>{{header}}</strong>
                    </th>
                {% endfor%}            
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ list(row.values())[0] }}</td>
                    <td>{{ list(row.values())[1] }}</td>
                    <td>{{ list(row.values())[2] }}</td>
                    <td>{{ list(row.values())[3] }}</td>
                    <td>{{ list(row.values())[4] }}</td>
                    <td>
                        <div class ="col-5" >
                            <img style="width: 2px, height: 2px" src="{{ row.Image_url }}">
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js">
    $(document).ready(function () {
        $('#allbooks').DataTable();
    });
</script>
{% endblock%}

