{% extends 'base.html' %}
{% block content %}

<div class="cover" 
     style="display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: 90vh;
            background-image: url(/static/BackImage1.avif);
            background-size: cover;
            ">
        <div style="color: rgba(251, 248, 248, 0.962); padding-left:100px; margin: auto;"><h1 style="width: 500px;"> <img src="/static/LOGOFINALEDIT.png" alt="" style="border: 4px; border-radius: 10px; width: 350px; height: 130px; "></h1></div>
        <div style="width: 500px;height: 300px; margin: auto;padding: 20px;">
            <h1 style="color: rgba(251, 248, 248, 0.962); font-family: 'Bai Jamjuree', sans-serif; font-weight: bold;"> What Kind of Book Do You Want ? <br> We Have It !!! </h1><br>
            <h3 style="color: rgba(251, 248, 248, 0.962); font-family: 'Bai Jamjuree', sans-serif; font-weight: normal;
            font-style: italic;"> The most secure and preference oriented Book Website for your need.</h3>
        </div>
        
</div>

<br><br>

<div class="recentlyAddedBooks" 
     style="
            
            justify-content: center;
            padding: 50px;
            height: 1500px;
            background-image: url(/static/BackImage2.PNG);
            background-size: cover;
            ">
        <div  class="container-xl px-4 mt-4" style="padding: 30px 200px 90px;">
            <center><h1 style="color: rgba(251, 248, 248, 0.962); font-family: 'Bai Jamjuree', sans-serif; font-weight: bold;
           padding-bottom: 50px;"> Recently Added Books</h1></center><br>
        
        <div  class="row" style="display: flex; flex-wrap: wrap;flex-direction: row; width: 1000px;height: 300px; padding-right: 90px;">
            

           
            {% for books in book %}

           
        
            <div class="col-md-4" style="color: #ffff;">
                <center>
                <img src="{{url_for('static',filename ='book.png')}}" class="img-fluid rounded-start" 
                   alt="book-image" style="width: 150px; height: 230px; margin-left: 0px; margin-top: 10px; "></center>
               <div class="card-body ">
                <h5 class="card-title" ><span class="badge bg-success">{{books.title}}</span></h5>
                 <small>Author: {{books.author}}</small>
                 <p class="card-text"><small class="text-muted">{{books.categoryofbook.category}}</small></p>
                 </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>

<br><br>

<div class="about" 
     id="aboutId"
     style="
            justify-content: center;
            padding: 50px;
            text-align: center;
            margin-bottom: 10px;
            background-image: url(/static/BackImage3.PNG);
            background-size: cover;
            ">
        <div style="padding-bottom: 30px; font-family: 'Bai Jamjuree', sans-serif; font-weight: bold;"><h1 style="color: rgba(251, 248, 248, 0.962); font-family: 'Bai Jamjuree', sans-serif; font-weight: bold;">About</h1></div>
        
        <p style="color:rgba(251, 248, 248, 0.962); padding-bottom: 80px;font-family: 'Bai Jamjuree', sans-serif; font-weight: normal;">
            This application is designed to solve the problem many people are facing in choice of book on many websites. This book recommendation app was developed using HTML, CSS, JavaScript and Python.  
        </p>

        <div class="pics" style="display: flex; flex-wrap: wrap; gap: 80px; padding-left: 45px;">
            
            <div class="biruk" >
                <img src="/static/Biruk1.jpg" alt="" height="200px" style="border: 2px; border-radius: 300px;">
                <h1 style="font-size: 25px; font-family: 'Bai Jamjuree', sans-serif; font-weight: normal; padding-top: 20px; padding-bottom: 15px;"> <a href="https://github.com/Biruk-G3" class="" style="color:rgb(149, 146, 146); font-size: 15px; text-decoration: none;font-weight: normal;">
                    <b>Biruk Gelelcha</b><br></a></h1>
                    <i class="" style="color: rgba(173, 167, 167, 0.658);">Backend Developer</i>
            </div><br>

            <div class="dagmawi">
                <img src="/static/Dagmawi.jpg" alt="" height="200px" style="border: 2px; border-radius: 300px;" >
                <h1 style="font-size: 25px; font-family: 'Bai Jamjuree', sans-serif; font-weight: normal; padding-top: 20px; padding-bottom: 15px;"><a href="https://github.com/Iwamgad" class="" style="color:rgb(149, 146, 146); font-size: 15px; text-decoration: none;font-weight: normal;"><b>Dagmawi Ayneabeba</b><br> </a></h1>
                <i style="font-size: 15px; color: rgba(173, 167, 167, 0.658);">Frontend Developer</i>
            </div><br>

            <div class="tesfay">
                <img src="/static/Tesfay1.png" alt="" height="200px" style="border: 2px; border-radius: 300px;">
                <h1 style="font-size: 25px; font-family: 'Bai Jamjuree', sans-serif; font-weight: normal; padding-top: 20px; padding-bottom: 15px;"><a href="https://github.com/Tesfay-Teshome" class="" style="color:rgb(149, 146, 146);font-size: 15px; text-decoration: none;font-weight: normal;"><b>Tesfay Teshome</b><br></a></h1>
                <i style="color: rgba(173, 167, 167, 0.658);">Front and Back end Developer</i>
            </div><br>
        </div>


        <div style="color:rgba(251, 248, 248, 0.962);font-style: italic;font-family: 'Bai Jamjuree', sans-serif; font-weight: bold;">
            2023 ALX Cohort 6 - All rights reserved | GitHub Accounts of The Developers - <a href="https://github.com/Biruk-G3"
             style="color: #ffff; font-size: 15px; text-decoration: none;font-weight: normal;">Biruk Gelelcha</a> / <a href="https://github.com/Iwamgad" style="color: #ffff; font-size: 15px; text-decoration: none;font-weight: normal;">Dagmawi Ayneabeba</a> / <a href="https://github.com/Tesfay-Teshome" style="color: #ffff; font-size: 15px; text-decoration: none;font-weight: normal;">Tesfay Teshome</a>
        </div>

</div>
    
{% endblock%}