{% extends 'base.html' %}
{% block content %}
<!-- <h1>Add Book</h1>
<h2>top</h2> -->
<!-- <img src="{{url_for('static',filename ='Background Image.jpg')}}" alt="homePageBackgroundImage" class="backgroundImage"> -->
<!-- <div class="container" 
     style="display: flex;
            background-color:rgb(65, 103, 70);
            margin: 0;
            align-items: center;
            justify-content: center;
            height: 80vh;
            /* width: 1000px; */
            ">
            
            
            
            Cover!!!




</div> -->
    
{% endblock%}